@import "./variable.scss";

.el-button {
  &--primary {
    background-color: $primary-color !important;
    &:hover {
      background-color: $primary-color-hover !important;
    }
  }
  &--text {
    color: $primary-color !important;
    &:hover {
      color: $primary-color-hover !important;
    }
  }
}

.el-radio-group {
  .is-active {
    .el-radio-button__inner {
      background: $primary-color !important;
    }
  }
}
