$primary-color: #45465e;
$primary-color-hover: #64658a;

$background-white: #ffffff;
$background-black: #000000;

$font-size-title: 20px;
$font-size-second-title: 18px;
$font-size: 14px;

$text-color-black: #000000;
$text-color-primary: $primary-color;
$text-color-reverse: #fdeddd;
$text-color-grey: #808080;
$text-color-white: #ffffff;

$border-radius-normal: 8px;
$border-radius-large: 16px;

@mixin font-title {
  font-size: $font-size-title;
  color: $text-color-primary;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

@mixin font-second-title {
  font-size: $font-size-second-title;
  color: $text-color-primary;
  font-weight: lighter;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
