$background-white: #ffffff;
$background-black: #000000;

$font-size-title: 40px;
$font-size-second-title: 32px;
$font-size: 25px;

$text-color-black: #000000;
$text-color-primary: #45465e;
$text-color-reverse: #fdeddd;
$text-color-white: #ffffff;

$border-radius-normal: 8px;
